.addStickerForm{
    /* border: 1px solid black; */
}

.formRow{
    display: flex;
}

.eachField{
    display: flex;
    margin-right: 2rem;
    margin: 0.5rem 1rem;
}

.eachField label{
    width: 160px;
}

.eachField input{
    padding: 0.3rem 0.3rem;
    margin: 0.3rem 0rem;
    border-radius: 4px;
    border: 1px solid rgba(177, 173, 173,0.8);
    font-family: 'kanit',sans-serif;
    color: #29A8AB;

}

.addressInput{
    height: 5rem;
    width: 40%;
    display: flex;
    align-items: flex-start;
    word-wrap: break-word; 
           
}

.addSticker{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: center;
    font-family: 'kanit',sans-serif;
}
.buttonAddsticker{
    text-align: center;
    color: #ffffff;
    font-family: 'kanit',sans-serif;
    background-color: #29A8AB;
    border-radius: 8px;
    border: none;
    border-color: #ffffff;
    height: 40px;
    font-size: 15pt;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
.error{
    color: red;
    font-family: 'kanit',sans-serif;
    font-size: 10pt;

}