.Table-header{
  font-size: 55px;
  color: #29A8AB;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-family: 'kanit',sans-serif;
  text-align: center;
}

.pro{
  border: 1px solid black;
  border-collapse: collapse;
}

.eventTable-Row{
  width: 80%;
  color: #29A8AB;
  font-size: 1rem;
  border: 1px solid #29A8AB;
  
}

.eventTable td{
  border: 1px solid #29A8AB;
  padding: 0.5rem;
}

.eventTable{
  margin: 0 10%;
}
