.Table-header{
  font-size: 55px;
  color: #29A8AB;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-family: 'kanit',sans-serif;
  text-align: center;
}

.eventTable td{
  border: 1px solid #29A8AB;
  padding: 0.8rem;
}

.eventTable{
  margin-left: auto;
  margin-right: auto;
  color: #29A8AB;
  font-size: 1rem;
  border: 1px solid #29A8AB;
  font-family: 'kanit',sans-serif;

}
