Form{
    margin-top: 20px;
    margin-left: 10%;
   }
.Button{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}