.header{
    background-color: #DDDDDD;
    display: flex;
    font-family: 'kanit',sans-serif;
}

.logo{
    width: 6rem;
    height: 6rem;
    margin-left: 40%;
    margin-top: 1rem;
    padding: 0.4rem 0rem;
}

.irName{
    position: relative;
    font-size: 3rem;
    padding-top:2rem; 
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    color: #29A8AB;
}

.profile{
    position: absolute;
    right: 100px;
    color: #29A8AB;
    font-family: 'kanit',sans-serif;
}

.profilePic{
    width: 6rem;
    height: 6rem;
    border-radius: 9rem;
    margin-right: 20px;
    margin-top: 15px;
}

.profileInfo{
    font-size: 1.2rem;
}

.profileInfo tr.role{
    font-weight: 900;
}

.logout {
    border: none;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 50px;
}

.logoutIcon{
    width: 32px;
}

.Headicon{
    width: 65px;
    height: 55px;
    padding-left: 10px;
}
.iconButton{
    width: 20px;
    height:18px;
    padding-left: 5px;
}
.iconleftButton{
    width: 20px;
    height:18px;
    padding-right: 5px;
}