.location{
  /* text-align: left; */
    color: #29A8AB;
    border: 1px solid white;
    border-collapse: collapse;
    /* width: 90%;   */
    /* margin-left: 8.33%;
    margin-right: 8.33%;
    margin-bottom: 5%;
    margin-top: 1%; */
    font-family: 'kanit',sans-serif;
   }

.location td, .location th{
  border: 1px solid #ddd;
  padding: 15px;  
  }

  .locationForm{
    margin-top: 20px;
    margin-left: 10%;
   }
.locationForm input {
    padding: 4px 4px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-left: 3%;
    margin-bottom: 5px
  }

  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }

  label {
    font-size: 25px;
    margin-bottom: 3px;
    color:#29A8AB;
    font-weight: lighter;
    font-family: 'kanit',sans-serif;
  }

  .addarea {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%
  }
  .addarea button {
    background-color:#29A8AB;
    color: #fff;
    border: 2px solid #fff;
    width: 150%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  .addarea button:hover {
    color: #29A8AB;
    background-color: #fff;
    border: 2px solid #29A8AB;
  }

  .wrapper {
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(110, 181, 182);
    margin-left: 28%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
h1{
    color: #29A8AB;
    /* text-align: center; */
    margin-bottom: 10px;
    margin-left: 18%;
    font-family: 'kanit',sans-serif;
    font-weight: 500;
  }
.titleLocation{
    text-align: center;
    color: #29A8AB;
    margin-bottom: 30px;
    font-family: 'kanit',sans-serif;
    font-size: 32pt;
}
.inputlocationname{
  font-family: 'kanit',sans-serif;

}
.locationtable{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}