.ruleCard{
    border: none;
    border-radius: 4px;
    background-color: #29A8AB;
    margin-left: 40%;
    padding: 0.7rem 0.7rem;
    margin-bottom: 1rem;
    font-family: 'kanit',sans-serif;
}

.Title{
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.priceMaxWarning{
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}

.price{
    margin-right: 2rem;
}

.ruleTable{
    width: 70%;
}

.detail{
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
}

.deletePic{
    width: 1.8rem;
    height: 1.8rem;
}

.deleteModalButton{
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 6px;
    width: auto;
    padding: 0.2rem 0.2rem;
    margin-left: 90%;  
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.ruleButton{
    display: flex;
    width: 7%;
    margin-left: 75%;
}

.editButton{
    color: #29A8AB;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.eachEditInput{
    display: flex;
}
.addRuleButton{
    text-align: center;
    color: #ffffff;
    font-family: 'kanit',sans-serif;
    background-color: #29A8AB;
    border-radius: 8px;
    border: none;
    border-color: #ffffff;
    height: 40px;
    font-size: 15pt;
    width: 6%;
    display: block;
    margin-left: auto;
    margin-right: 25%;
    /* margin-bottom: 3rem; */
}