h2{
    text-align: center;
    color: #29A8AB;
    margin-bottom: 30px;
    font-family: 'kanit',sans-serif;
}

.staffTable{
    border: 1px solid black;
    border-collapse: collapse;
}

.staffTable td, .staffTable th{
    border: 1px solid black;
  
  }

 